api/__pycache__/__init__.cpython-313.pyc
api/__pycache__/app.cpython-313.pyc
api/__pycache__/main.cpython-313.pyc
api/__pycache__/models.cpython-313.pyc
api/sqlite3.exe
api/node_modules/
api/venv
api/sqlite3.exe
